###########################      IMPORTANTE     #################################

#AL PROYECTO LE FALTA EL VENV (YA QUE TIENE DEMASIADOS ARCHIVOS COMO PARA SUBIRLO TODO A GITHUB), 
#ES NECESARIO CREARLO ANTES DE QUE SE EJECUTE TODO EL PROGRAMA
#USANDO EL COMANDO (python -m venv venv)

#instalar pandas con (pip intall pandas)
#instalar faker con (pip intall faker)
#instalar psycopg con (pip install psycopg[binary])